<app-header />
<div class="row d-flex justify-content-center">
    <div class="col-10">
        <div class="card" style="box-shadow: 2px 6px 11px 1px rgba(62, 62, 62, .21);">
            <div class="button-container">
                <button class="button" (click)="openModal()">Add User</button>
            </div>
            <div class="responsive-form-container">
                <div class="container">
                   
                    <div class="table-container" style="width: 100%;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>PhoneNumber</th>
                                    <th>Gender</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of originalData">
                                    <td style="text-align: -webkit-center;">{{ item.id}}</td>
                                    <td>{{ item.Name}}</td>
                                    <td style="text-align: -webkit-center;">{{ item.PhoneNumber}}</td>
                                    <td style="text-align: -webkit-center;">{{ item.Gender }}</td>
                                    <td style="text-align: -webkit-center;">{{ item.Role}}</td>
                                    <td style="text-align: -webkit-center;">{{ item.Status}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel"
                        aria-hidden="true" [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content" style="width: 100%">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                                    <button type="button" class="btn-close" (click)="closeModal()"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="name" #nameInput
                                                placeholder="Enter name" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email" #emailInput
                                                placeholder="Enter email" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="mobile" class="form-label">Mobile Number</label>
                                            <input type="text" class="form-control" id="mobile" #mobileInput
                                                placeholder="Enter mobile number" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Gender</label>
                                            <div class="d-flex">
                                                <div class="form-check me-4">
                                                    <input type="radio" id="male" name="gender" value="Male" #genderMale
                                                        class="form-check-input">
                                                    <label for="male" class="form-check-label">Male</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="radio" id="female" name="gender" value="Female"
                                                        #genderFemale class="form-check-input">
                                                    <label for="female" class="form-check-label">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Type</label>
                                            <div class="d-flex">
                                                <div class="form-check me-4">
                                                    <input type="radio" id="internal" name="type" value="Internal"
                                                        #typeInternal class="form-check-input">
                                                    <label for="internal" class="form-check-label">Internal</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="radio" id="external" name="type" value="External"
                                                        #typeExternal class="form-check-input">
                                                    <label for="external" class="form-check-label">External</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <button class="btn btn-primary mt-2"
                                                (click)="onSubmit(nameInput, emailInput, mobileInput, genderMale, genderFemale, typeInternal, typeExternal)">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>