<app-header />
     <!-- Products start -->
     <section id="products" class="container">
        <h1 class="text-center text-primary my-4">
          Latest Mobiles </h1>
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12">
                <div class="card">
                  <img src="../assets/Mobiles/mob1.webp">
                  <div class="card-body">
                    <h3 class="title">
                      Moto Edge 50 fusion
                    </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quam ad, voluptatibus asperiores magnam iste hic quia! Quas fugiat quaerat in, quae illum expedita aliquam, architecto similique omnis sint totam!</p>
                <button class="btn btn-primary me-3"> Cost : 22000</button>
                <button class="btn btn-info me-3"> Brand : Moto</button>
                <button class="btn btn-success "> Cart</button>
  
                  </div>
                </div>
  
              </div>
              <div class="col-md-4 col-sm-12 col-12">
                <div class="card">
                  <img src="../assets/Mobiles/mob2.jfif" alt="apple">
                  <div class="card-body">
                    <h3 class="title">
                    Apple iphone
                    </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quam ad, voluptatibus asperiores magnam iste hic quia! Quas fugiat quaerat in, quae illum expedita aliquam, architecto similique omnis sint totam!</p>
                <button class="btn btn-primary me-3"> Cost : 22000</button>
                <button class="btn btn-info me-3"> Brand : Moto</button>
                <button class="btn btn-success "> Cart</button>
  
                  </div>
                </div>
  
              </div>
  
              <div class="col-md-4 col-sm-12 col-12">
                <div class="card">
                  <img src="../assets/Mobiles/mob3.jfif">
                  <div class="card-body">
                    <h3 class="title">
               Redmi Note5 pro
                    </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quam ad, voluptatibus asperiores magnam iste hic quia! Quas fugiat quaerat in, quae illum expedita aliquam, architecto similique omnis sint totam!</p>
                <button class="btn btn-primary me-3"> Cost : 22000</button>
                <button class="btn btn-info me-3"> Brand : Redmi</button>
                <button class="btn btn-success "> Cart</button>
  
                  </div>
                </div>
  
              </div>
            </div>
          </div>
      </section>
      <!-- Products End -->
<app-footer></app-footer>