<nav class="navbar navbar-expand-sm bg-light navbar-light" style="background-color: #82C7B3 !important;">
    <div class="container">
      <a class="navbar-brand" routerLink="/">   <a href="">
        <img src="../../../assets/Logo/gold-icon.jpg" alt="traveldairies Logo" width="175" height="57">
      </a></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar" >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" style="color: white; ">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookings" routerLinkActive="active">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/internalusers" routerLinkActive="active">Internal Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order-form" routerLinkActive="active">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customers" routerLinkActive="active">Customers</a>
          </li>          
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbarEnd -->
  