<!-- <nav class="navbar navbar-expand-sm navbar-light" style="font-weight: 700">
    <div class="container">
      <a class="navbar-brand" routerLink="/">   <a href="">
        <img src="../../../assets/Logo/gold-icon.jpg" alt="traveldairies Logo" width="175" height="57">
      </a></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar" >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" style="color: white; ">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bookings" routerLinkActive="active">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/internalusers" routerLinkActive="active">Internal Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order-form" routerLinkActive="active">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customers" routerLinkActive="active">Customers</a>
          </li>          
        </ul>
      </div>
    </div> 
  </nav> -->
  <!-- navbarEnd -->
   <div style="margin-left: 8rem !important;margin-right: 8rem !important;margin-top: 2rem;font-weight: 500;">
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="border-bottom: none;padding: 0 0 4px 10px;">
    <li class="nav-item">
      <a class="nav-link active" id="dashboard-tab" data-toggle="tab" routerLink="/dashboard" routerLinkActive="active" role="tab" aria-controls="home" aria-selected="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-check" viewBox="0 0 16 16">
          <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.708L8 2.207l-5 5V13.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 2 13.5V8.207l-.646.647a.5.5 0 1 1-.708-.708z"/>
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514"/>
        </svg> <span style="vertical-align: middle;">  Home</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="booking-tab" data-toggle="tab" routerLink="/bookings" routerLinkActive="active" role="tab" aria-controls="profile" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
        </svg><span style="vertical-align: middle;">  Order Listing</span> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="order-tab" data-toggle="tab" routerLink="/order" routerLinkActive="active" role="tab" aria-controls="contact" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
          <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
          <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
        </svg><span style="vertical-align: middle;">  Place An Order</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="internalusers-tab" data-toggle="tab" routerLink="/internalusers" routerLinkActive="active" role="tab" aria-controls="contact" aria-selected="false"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
          <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
        </svg><span style="vertical-align: middle;">  Users</span></a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" id="customers-tab" data-toggle="tab" routerLink="/customers" routerLinkActive="active" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li> -->
  </ul>
</div>