<<app-header/>
   <!-- navbarslider -->
  <!-- Carousel -->
  <section id="banner" class="carousel slide" data-bs-ride="carousel">
  
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#banner" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#banner" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#banner" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#banner" data-bs-slide-to="3"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/Home/ban2.webp" alt="Los Angeles" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Home/ban1.jpg" alt="Chicago" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/Banners/banner1.jpg" alt="New York" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../assets/Banners/banner4.webp" alt="New York" class="d-block w-100">
      </div>
    </div>
  
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </section>
    <!-- navbarsliderend -->
     <!-- Products start -->
      <section id="products" class="container">
        <h1 class="text-center text-primary my-4">
          Latest Mobiles </h1>
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-12">
                <div class="card">
                  <img src="../assets/Mobiles/mob1.webp">
                  <div class="card-body">
                    <h3 class="title">
                      Moto Edge 50 fusion
                    </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quam ad, voluptatibus asperiores magnam iste hic quia! Quas fugiat quaerat in, quae illum expedita aliquam, architecto similique omnis sint totam!</p>
                <button class="btn btn-primary me-3"> Cost : 22000</button>
                <button class="btn btn-info me-3"> Brand : Moto</button>
                <button class="btn btn-success "> Cart</button>
  
                  </div>
                </div>
  
              </div>
              <div class="col-md-4 col-sm-12 col-12">
                <div class="card">
                  <img src="../assets/Mobiles/mob2.jfif" alt="apple">
                  <div class="card-body">
                    <h3 class="title">
                    Apple iphone
                    </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quam ad, voluptatibus asperiores magnam iste hic quia! Quas fugiat quaerat in, quae illum expedita aliquam, architecto similique omnis sint totam!</p>
                <button class="btn btn-primary me-3"> Cost : 22000</button>
                <button class="btn btn-info me-3"> Brand : Moto</button>
                <button class="btn btn-success "> Cart</button>
  
                  </div>
                </div>
  
              </div>
  
              <div class="col-md-4 col-sm-12 col-12">
                <div class="card">
                  <img src="../assets/Mobiles/mob3.jfif">
                  <div class="card-body">
                    <h3 class="title">
               Redmi Note5 pro
                    </h3>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quam ad, voluptatibus asperiores magnam iste hic quia! Quas fugiat quaerat in, quae illum expedita aliquam, architecto similique omnis sint totam!</p>
                <button class="btn btn-primary me-3"> Cost : 22000</button>
                <button class="btn btn-info me-3"> Brand : Redmi</button>
                <button class="btn btn-success "> Cart</button>
  
                  </div>
                </div>
  
              </div>
            </div>
          </div>
      </section>
      <!-- Products End -->
      <app-footer />