/* Container for the form to add margins and responsiveness */
.responsive-form-container {
     /* Maximum width of the form container */
    margin: 50px 20px; /* Center the form container horizontally */
    padding: 0 15px; /* Add padding on left and right */
  }
  
  /* Form styling */
  .responsive-form {
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the total width and height */
  }
  
  /* Styling for each row */
  .form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 15px; /* Space between columns */
    margin-bottom: 15px; /* Space below each row */
  }
  
  /* Styling for each column */
  .form-column {
    display: flex;
    flex-direction: column;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #12701f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: larger;
  }
  
  button:disabled {
    background-color: #6CC3D5;
    cursor: not-allowed;
    color: white;
    width: 100%;
  }
  
  .error-message {
    color: red;
    font-size: 0.875em;
  }
  .testCol{
    color: red;
    font-size: 0.875em;
  }
